{% extends 'base.html.twig' %}

{% block title %}
	Réalisations
{% endblock %}

{% block body %}
	{% include "shared/_navbar.html.twig" %}

	<section id="last" class="section" style="min-height:100vh">
		<div class="container has-text-centered">

			<h1 class="title has-text-light">Réalisations</h1>

			<div class="columns is-multiline is-tablet">
				{% for w in products %}
					<div class="column is-4">
						{% include "shared/_card.html.twig" %}
					</div>
				{% endfor %}
			</div>

			<div class="is-flex is-justify-content-center mt-6 has-text-light">
				{{ knp_pagination_render(products, 'shared/_pagination.html.twig') }}
			</div>

		</div>
	</section>
{% endblock %}
